@model BlogMVC.Models.Article

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="alert alert-danger">
                Voulez-vous vraimment supprimer cette article ?
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Oui" class="btn btn-danger" />
                        @Html.ActionLink("Non", "Index" , null , new { @class = "btn btn-default" } )
                    </div>
                 }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>@Html.DisplayFor(model => model.Title)</h2>
            <span class="glyphicon glyphicon-calendar"></span> @Html.DisplayFor(model => model.DateTime)
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <p> @Html.DisplayFor(model => model.BodyText)</p>
        </div>
    </div>
</div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
