@using Microsoft.AspNet.Identity
@model IEnumerable<BlogMVC.Models.Article>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            @foreach (var item in Model)
            {
                <h2>@Html.DisplayFor(modelItem => item.Title) </h2>
                <h5> @Html.DisplayFor(modelItem => item.BodyText) </h5>
                if(Request.IsAuthenticated){
                    <div class="btn-group">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
                    </div>
                }
                <h5>
                    <span class="glyphicon glyphicon-calendar"></span>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </h5>
                <hr />
            }

        </div>
    </div>
</div>
